@model IEnumerable<ImageBank.Core.Image>

@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
}

<h3>Latest images:</h3>

@foreach(var image in Model)
{
    <img src="../../Images/Upload/@image.SystemFilename" alt="@image.Filename"/>
}