@model IEnumerable<ImageBank.Core.Image>

@{
    ViewBag.Title = "Home Page";
}

<h3>Welcome to Image Bank MVC</h3>

<div class="medium-images">
    @foreach(var image in Model)
    {
        <img src="../../Images/Upload/640x427/@image.SystemFilename" alt="@image.Filename"/>
    } 
</div>