@model IEnumerable<ImageBank.Core.Image>

@{
    ViewBag.Title = "Home Page";
}

<h3>Welcome to Image Bank MVC</h3>

<script type="text/javascript">
    $(document).ready(function () {
        $('.slideshow').cycle({
            fx: 'fade'
        });
    });
</script>

<div class="slideshow">
    @foreach (var image in Model)
    {
        @Html.MediumSizeImage(image.Filename, image.SystemFilename)
    }
</div>