html {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #333;
    font-size: .85em;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    text-decoration: underline;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 15px;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}


/* main layout
----------------------------------------------------------*/

header {
    margin: 0px;
    padding: 0px;
}

div#header-wrapper {
    width: 820px;
    margin: 0px auto 0px auto;
}

div#header-wrapper a#login {
    position: absolute;
    top: 10px;
    left: 1230px;
    color: #fff;
    text-decoration: none;
    font-size: 0.75em;
}

div#logo {
    position: relative;
    top: 20px;
    float: left;
}

div#nav {
    position: relative;
    top: 70px;
    float: left;
    margin-left: 50px;
}

div#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div#nav ul li {
    display: inline;
    margin-right: 10px;
}

div#nav ul li a {
    color: #fff;
    text-decoration: none;
}

div#header 
{
    height: 100px;
    background-color:#660000;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#400000), to(#660000));
    background-image:-moz-linear-gradient(top, #400000, #660000);
    background-image:-ms-linear-gradient(top, #400000, #660000);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #400000), color-stop(100%, #660000));
    background-image:-webkit-linear-gradient(top, #400000, #660000);
    background-image:-o-linear-gradient(top, #400000, #660000);
    background-image:linear-gradient(top, #400000, #660000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#400000', endColorstr='#660000', GradientType=0);
    -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

div#body {
    width: 820px;
    margin: 0px auto 0px auto;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p {
    text-align: center;
}

footer p a {
    text-decoration: none !important;
    font-size: 0.75em; 
}

/* menu
----------------------------------------------------------*/


/* page elements
----------------------------------------------------------*/

.medium-images {
    text-align: center;
}

.medium-images input[type='text'], .medium-images textarea {
    width: 600px;
}

.editor-label {
}

.editor-field {
    margin-bottom: 10px;
    margin-top: 10px;
}

.pager {
    margin: 10px;
}

.editable-image {
    background-color: #f8f7f7;
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #eee;
}

.slideshow {
    width: 640px;
    height: 426px;
    margin: 0px auto 0px auto;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}