@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Upload Images</h3>

<p>Select Add files to select images for upload and when you're ready click Start Uploading.</p>

<div id="html5_uploader">You browser doesn't support native upload. Try Firefox 3 or Safari 4.</div>

<script type="text/javascript">
    $(function () {
        $("#html5_uploader").pluploadQueue({
            runtimes: 'html5',
            url: 'upload',
            max_file_size: '20mb',
            chunk_size: '1mb',
            unique_names: true,
            filters: [
		    { title: "Image files", extensions: "jpg,gif,png" } ]
        });
    });
</script>